* {
  box-sizing: border-box;
}

.booking-menu {
  border: 1px solid black;
  /* height: 230px; */
  width: 350px;
  font-size: 13px;
  padding: 12px;
  background-color: white;
}

/* ------------------ */

.checkbox {
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox input {
  height: 30px;
  width: 30px;
}

/* ------------------ */

.destination {
  padding: 5px;
  border: 1px solid #eee;
  margin-bottom: 10px;
}

.destination-line {
  width: 180px;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
}

.destination input {
  height: 34px;
  border: none;
}

/* ------------------ */

.date-picker {
  border: 1px solid #eee;
  padding: 5px;
  margin-bottom: 10px;
  color: #f70;
}

.date-picker > div:nth-child(2) {
  width: 180px;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
}

.date-picker > div:nth-child(odd) {
  padding: 7px;
  display: flex;
  gap: 5px;
}

.date-picker p {
  padding: 7px;
}

/* ------------ */

.quantity div {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity button {
  background-color: unset;
  border: none;
  font-size: 20px;
}

.quantity > div span {
  font-weight: bold;
  font-size: 20px;
  display: block;
  width: 30px;
  text-align: center;
}

.counter div {
  display: flex;
}
/* ------------ */

.booking-menu > button {
  width: 100%;
  padding: 10px;
  background-color: #f60;
  border: none;
  color: white;
  border-radius: 2px;
  font-size: 14px;
  margin-bottom: 20px;
}

.booking-menu-bottom {
  color: #f70;
}

.booking-menu-bottom p:first-child {
  margin-bottom: 10px;
}
